<head>  
	<meta name="viewport" content="width=device-width, initial-scale=2">  
	<style> 
	
	.main {  
    		padding: 50px;  
  		background-color: skyblue;  
	} 
	.alignn { 
		box-shadow: none;
		display: flex;
		align-items: center;
		justify-content: space-between;  
	}  
  	.required:after {
		content:" *";
		color: red;
	}
	form .row {
		display: flex;
		flex-direction: column;
		box-shadow: none;
	}
	.control:focus {
		box-shadow: none;
	}
	input[type=text], input[type=date], select, input[type= email], textarea {  
  		width: 100%;  
  		padding: 15px 20px;  
  		margin: 5px 0 22px 0;  
  		display: inline-block;  
 	 	border: none;  
        border: 2px solid #ccc;
  		background: #f1f1f1;  
	}  
	input[type=text]:focus, input[type=password]:focus {  
  		background-color: white;  
  		outline: none;  
	}  
 	div {  
		padding: 10px 0;  
        }  
	hr { 
  		padding: 15px; 
  		border: 1px solid #f1f1f1;  
  		margin-bottom: 30px;
		
	}  
	.nextpg {  
  		background-color: #4CAF50;  
  		color: white;  
  		padding: 16px 20px;  
  		margin: 8px 0;  
  		border: none;  
  		cursor: pointer;  
  		width: 100%;  
  		opacity: 0.9;  
	}  
	.nextpg:hover {  
  		opacity: 1;  
	}  
	</style>  
</head>
